fastapi
uvicorn
streamlit
nest_asyncio
coloredlogs
pydantic
langchain
langchain_experimental
ipython
requests
openai
transformers
pillow
huggingface_hub
python-dotenv
langchain-astradb>=0.6,<0.7
open_clip_torch
torch
python-multipart>=0.0.6